@font-face {
  font-family: ClashGroteskReg;
  src: url(./fonts/ClashGrotesk-Regular.otf);
}
@font-face {
  font-family: ClashGroteskBold;
  src: url(./fonts/ClashGrotesk-Bold.otf);
}
@font-face {
  font-family: ClashGroteskMed;
  src: url(./fonts/ClashGrotesk-Semibold.otf);
}
@font-face {
  font-family: ClashGroteskSemi;
  src: url(./fonts/ClashGrotesk-Medium.otf);
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;0,700;1,500&display=swap');
/* Your styles goes here. */

body {
  margin: 0;
  font-family: 'Poppins', sans-serif!important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color:#fff;
  font-size:19px!important;
  font-weight: 500;
}
*, ::after, ::before {
  box-sizing: inherit!important;
}
h1 {
  font-size:5rem!important;
  margin:0;
  line-height: 1.2em!important;
  text-shadow: 0 -4px 12px rgb(255 229 171 / 35%), 0 4px 4px rgb(0 0 0 / 25%);
  font-weight: 700!important;
}
h2 {
  margin:0;
  text-shadow: 0 -4px 12px rgb(255 229 171 / 35%), 0 4px 4px rgb(0 0 0 / 25%);
}
.h2, h2 {
  font-size:1.5em!important;
  font-weight: 500!important;
  color:#fff;
}
.App {
  height: 100vh;
  background-color: #0d1116;
  text-align: center;
}

p {
  margin: 0;
  color:#fff;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none!important;
}
a:hover {
  color: #222!important;
}
svg.avatarSVG text {
  font-size: 16px;
  font-family: 'Poppins', sans-serif!important;
  font-weight:600;
}
.body-container {
  min-height: 100%;
  background-color: #181818;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header-container {
  background:#fff;
  color:#222;
  position: fixed;
  top:0;
  z-index: 100;
  width:100%;
}
.navbar {
  padding:0!important;
}
.navbar-brand {
  font-size:1.6rem!important;
  text-align: left;
  padding:0!important;
  letter-spacing: 0!important;
  font-weight:500;
}
.navbar-brand img {
  margin-right:10px;
  transform:translateY(-5px);
}
.navbar .container {
  max-width: 100%!important;
  padding: 1rem 3rem;
}
.navbar .justify-end p {
  margin-bottom: 0;
}
.navbar-nav {
  align-items: center;
}
.navbar a {
  font-size: 1.1rem;
  color:#fff !important;
  margin-right:20px;
  font-weight: 600;
}
.navbar-light .navbar-brand {
color:#fff !important;
}
nav.navbar.navbar-expand-lg.navbar-light.bg-white.fixed-top {
  background: transparent!important;
}
.navbar > .container {
  background:rgba(255,255,255,0.15);
}
.logo {
  width: 25px;
  margin-right: 10px;
}
.avatarSVG{
  border-radius: 20px;
  border:2px solid #fff;
}
.justify-end {
  justify-content: flex-end;
  display: flex;
    align-items: center;
    transition:.3s all;
    background-color: rgba(255,255,255,.1);
    border-radius: 50px;
    padding: 0.9rem 2rem!important;
    font-size: 1.1rem;
    color: #fff;
    font-weight: 600;
}

.justify-end button {
  padding: 0!important;
  background-color: transparent;
  font-size: 1.1rem!important;
  border:none;
  color: #fff;
  font-weight: 600;
}
.justify-end:hover {
}
.main-container-wrapper {
  position:relative;
  overflow: hidden;
  background-image:url(./img/bg.jpg);
  background-size:cover;
  background-position: center;
}
/*.main-container-wrapper::before {
  content:"";
  position: absolute;
  width:100%;
  height:100%;
  top:0;
  left:0;
  background-image:linear-gradient(rgba(19,0,41,0),rgba(19,0,41,0.1),rgba(19,0,41,0.7), rgba(19,0,41,0.7));
  z-index: 1;
}*/

.main-container-wrapper video {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    object-fit: cover;
}

.main-container.flex {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding:150px 100px 100px;
  /*background: linear-gradient(135deg, #3b5a70, #223b58, #5c799d, #888aee, #d3a686);
    background-size: 1000% 1000%;

    -webkit-animation: AnimationName 30s ease infinite;
    -moz-animation: AnimationName 30s ease infinite;
    animation: AnimationName 30s ease infinite;*/
    min-height:95vh;
    z-index: 2;
}
@-webkit-keyframes AnimationName {
  0%{background-position:0% 51%}
  50%{background-position:100% 50%}
  100%{background-position:0% 51%}
}
@-moz-keyframes AnimationName {
  0%{background-position:0% 51%}
  50%{background-position:100% 50%}
  100%{background-position:0% 51%}
}
@keyframes AnimationName {
  0%{background-position:0% 51%}
  50%{background-position:100% 50%}
  100%{background-position:0% 51%}
}

.header-container .flex-item ul {
    padding: 0;
    display: flex;
    align-items: center;
    margin:0;
}
.header-container .flex-item ul li {
  padding-left:25px;
}
.header-container .flex-item ul li a {
  font-size:1.3rem;
  text-transform: uppercase;
    letter-spacing: 0.05em;
}
.main-container .flex-item.left{
  width: 50%;
  text-align: left;
  color:#fff;
}
.main-container .flex-item.left button {
  margin-left: 40px;
  transform: translateY(-20px);
}
.main-container .flex-item.left h1 {
  white-space: nowrap;
}
.main-container .flex-item.right p {
  font-size: 2.7rem;
  text-align: left;
  text-shadow: 0 0 20px rgb(0 0 0 / 25%);
  line-height: 1.4em;
  color:#fff;
}
.main-container .flex-item.right {
  /*perspective: 300px;*/
  padding-left:5%;
  width:45%;
}
.main-container .flex-item.right img {
  margin-top: 0px;
    box-shadow: rgb(45 21 71 / 20%) 30px 20px 35px;
    transform: translateY(30px) translateZ(50px) rotate(2deg) rotateX(2deg) rotateY(-2deg) translateZ(0px);
    object-fit: cover;
    vertical-align: middle;
    border-radius: 24px;
    opacity: 1;
}
.content-container {
  background-color: #a200d6;
}

.cta-button {
  width: auto;
    color: #1969ff;
    border: 2px solid transparent
}
button {
  line-height: 1.2em!important;
  cursor: pointer;
  font-size: 1.3rem!important;
  transition: .3s background-color, .3s border;
  border-radius: 50px!important;
  padding: 0.9rem 2.5rem!important;
  box-shadow: 0 16px 24px 0 rgb(48 49 51 / 10%), 0 0 1px 0 rgb(48 49 51 / 5%);
}
.connect-wallet-button {
  border-color: #fff;
  background: #fff;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  transition: .2s all;
}
.connect-wallet-button:hover {
  opacity: 0.75;
}
.connect-wallet-container {
  text-align: left;
  /*transform: translateY(-25px);*/
}
.mint-button {
  font-size: 1rem!important;
  padding: 0.8rem 1.8rem!important;
    margin: 0 10px;
    background-color:#fff;
    color:#1969ff;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}
.button-container{
  margin-top:20px;
  margin-bottom:70px;
}
.mint-button:hover {
  background-color: #32325d;
    color: #fff;
}
.mint-button:disabled {
  background: rgba(118,123,255,0.3);
  color: rgba(255,255,255,0.7);
  cursor: not-allowed;
}

.mint-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.mint-row a.link {
  word-break: break-word;
}
.mint-row a.link p {
  color: #fff2d1;
}
.edit-button {
  border-radius: 50%;
    cursor: pointer;
    margin-left: 10px;
    top: 20px;
    border: 0px;
    font-size: 12px;
    background-color: transparent;
    padding:0!important;
}

.edit-icon {
  width: 16px;
  filter: invert(1);
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:1rem 3rem;
  background-color: #1969ff;
}

.footer-container a {
  text-decoration: none;
}
.footer-container a:hover {
  color: #fff!important;
}
.twitter-logo {
  width: 35px;
  height: 35px;
}

.footer-text {
  font-size: 15px;
  color: #fff;
}
.footer-text svg path {
  fill:#fff2d1;
}
.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 2;
}

input {
  color: #222;
  text-align: center;
  background-color: rgba(255,255,255,0.15);
  backdrop-filter: blur(8px);
  border:1px solid rgba(255, 255, 255, 0.5);
  padding: 0.5rem 1rem!important;
  border-radius: 4px;
  font-size: 1em!important;
  width: 700px;
}

input::placeholder {
  color:#fff2d1;
}

input:focus {
  outline: none;
}

.first-row {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  width:100%;
}

.tld {
  position: absolute;
  font-size: 0.9em;
  right: 22px;
  margin: 0;
  padding: 0;
  top: 13px;
  letter-spacing: 1px;
}

.mint-list {
    flex-wrap: wrap;
    align-items: center;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.mint-item {
  display: flex;
    flex-direction: column;
    width: 20%;
    align-items: center;
    padding: 10px 25px;
    margin: 10px 15px;
    font-size: 1.1rem;
    border: 8px solid #fff;
    min-width: 150px;
    max-width: -moz-fit-content;
    max-width: fit-content;
    box-shadow: 0px 0px 10px 3px rgb(255 255 255 / 20%);
    border: 1px solid #Fff;
    border-radius: 50px;
    filter: blur(0);
    background: rgba(255,255,255,.16);
    backdrop-filter: blur(8px);
}
.mint-item p {
  margin-bottom:0!important;
}
/* Different background-colour for every nth mint-item */

.link {
  color: black;
  text-decoration: none;
}

.underlined {
  text-decoration: underline;
}

.underlined:hover {
  cursor: pointer;
}
.navbar-light .navbar-toggler-icon {
  filter: invert(1);
}
/* KeyFrames */
@-webkit-keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.record {
  position: relative;
  width: 700px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom:10px;
}

.record::before {
  color:#fff;
  /*position: absolute;
  top: 25%;
  left: -140px;*/
  margin-right: 10px;
  content:"";
  width: 100%;
    text-align: left;
}

.record input {
    color: #fff2d1;
    text-align: left;
}

#addr::before {
  content: 'Address : ';
}

#desc::before {
  content: 'Description : ';
}

#email::before {
  content: 'Email : ';
}

#website::before {
  content: 'Website : ';
}

#avatar::before {
  content: 'Avatar URL : ';
}

#twitter::before {
  content: 'Twitter : ';
}

.readonly {
  color: rgb(221, 221, 221);
}

.avatar {
  width: 270px;
  background:#fff;
  border: 1px solid white;
  border-radius: 0.5rem;
  padding: 10px;
  box-shadow: 0 5px 30px rgb(59 130 246 / 15%);
}
.background-layer {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  display: block;
  padding-top: 0;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  background-color: #f1f2ff;
  background-image: url(./img/bottom.png);
  background-position: center bottom;
  background-size: cover;
  background-repeat: repeat;
}
.recently-minted {
  position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    padding: 170px 0 70px;
    min-height: 80vh;
}
.mint-container {
}
.mint-contents h2 {
  line-height: 1.1em;
}
.mint-contents{
  z-index: 2;
  position: relative;
}
.mint-contents a {
  font-size: 1rem!important;
    /*padding: 0.8rem 1.8rem!important;*/
    /*background-color: #0287d0;*/
    color: #fff2d1;
    align-items: center;
    /*border: 2px solid #0287d0;*/
    margin: 0 10px;
    /*text-transform: uppercase!important;*/
    letter-spacing: 0.05em!important;
    transition: .3s background-color, .3s border;
    border-radius: 50px!important;
    word-break: break-word;
}
.mint-contents a:hover {
  color: #fff2d1!important;
}
.navbar-light .navbar-toggler {
  padding:0!important;
  border:none!important;
}
.navbar-toggler:focus {
  box-shadow: none!important;
}
@media only screen and (max-width: 1599px) {
  .main-container.flex{
    padding: 60px 50px;
    padding-top:130px;
    min-height:95vh;
  }
  h1 {
    font-size: 5rem!important;
  }
  .main-container .flex-item.right p {
    font-size: 1em;
  }
}
@media only screen and (max-width: 980px) {
  header {
    padding:1rem;
  }
  .title {
    font-size: 2rem;
  }
  .main-container.flex {
    padding-bottom:70px;
  }
  h1 {
    font-size: 5rem!important;
  }
  .main-container .flex-item.right p {
    font-size: 1.3em;
  }
  .main-container .flex-item.left,.main-container .flex-item.right {
    width: 100%;
    padding:0;
  }
  .header-container {
    position: relative;
  }
  .main-container.flex {
    flex-wrap: wrap;
  }
  .main-container .flex-item.left button {
    transform:translateY(-10px);
  }
  .form-container {
    width: 90%;
  }
  input {
    max-width: 650px;
  }
  .navbar .container {
    padding:1rem!important;
  }
  .recently-minted {
    padding: 140px 0 70px;
  }
  .footer-container {
    padding:1rem;
  }
  .navbar-nav {
    gap: 15px;
    padding: 10px 0;
  }
}
@media only screen and (max-width: 767px) {
  .main-container .flex-item.left button {
    margin-left:0;
    transform:translateY(0px);
    margin-top:20px;
  }
  h1 {
    font-size: 3.3rem!important;
  }
  input {
    width: 100%;
  }
  .connect-wallet-button,button,.mint-button {
    font-size: 1.2rem;
  }
  .mint-button{
    margin:5px 10px;
  }
  .main-container .flex-item.left h1 {
    white-space: normal;
  }
  .record {
    width: 100%;
    flex-wrap: wrap;
    margin-bottom: 10px;
  }
  .record::before {
    font-size: 1.5rem;
  }
  .mint-contents h2 {
    font-size: 1.4em!important;
  }
  .navbar-brand {
    font-size: 1.7rem!important;
  }
  .mint-item {
    min-width: 130px;
    margin: 8px;
  }
  .footer-container {
    flex-wrap: wrap;
  }
}